.idea/
.env
.env.test
*.egg-info
__pycache__/
venv/
input.raw
test.py
test.session
test.session-journal
test.ogg
output.ogg
gotgcalls/src/core.exe
gotgcalls/src/core
gotgcalls/dist/core.exe
gotgcalls/dist/core
